@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --bckgrdColor: #1a202c;
  --accentColor: #e6e6e6;
  --scrollBar: #262e3d;
  --font: 'Karla', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  transition: background 0.1s ease;
}

.dark {
  background-color: var(--bckgrdColor);
  color: var(--accentColor);
  transition: background 0.1s ease;
}
.dark .link {
  color: var(--accentColor);
  border: solid var(--accentColor) 2px;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  position: relative;
  background-color: transparent;
  border: solid var(--bckgrdColor) 2px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease;
  color: var(--bckgrdColor);
}

.dark #toggleBtn {
  color: #ffffff;
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--bckgrdColor);
    color: var(--accentColor);
  }
  .dark .link:hover {
    background-color: var(--accentColor);
    color: var(--bckgrdColor);
  }
}

.link:active {
  background-color: var(--accentColor);
  color: var(--bgColor);
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollBar);
}
